
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" />
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Enter your email address" />
    <label for="message"></label>
    <textarea type="text" id="message" name="message" placeholder="Type your message here"></textarea>
    <input type="submit" value="Submit" />
</form>