<footer class="text-center">
    <a href="http://linkedin.com/in/JacobArchambault" target="_blank" alt="LinkedIn.com"><i class="fab fa-linkedin" id="linkedin-icon"></i></a>
    <a href="http://fordham.academia.edu/JacobArchambault" target="_blank"><i class="fas fa-university"></i></a>
    <a href="http://medium.com/@@JacobArchambault" target="_blank" alt="Medium.com"><i class="fab fa-medium" id="medium-icon"></i></a>
    <a href="http://github.com/JacobArchambault" target="_blank" alt="Github"><i class="fab fa-github" id="github-icon"></i></a>
</footer>
