<header>
    <img src="@Url.Content("~/images/urquhart-castle.jpg")" alt="Urquhart Castle, Loch Ness, Scotland" class="img-fluid" />
    <nav class="navbar">
        <a class="nav-item" href="@Url.Content("~/Index")">About</a>
        <a class="nav-item" href="@Url.Content("~/docs/resume-tech.pdf")" target="_blank">Resume</a>
        <a class="nav-item" href="http://github.com/JacobArchambault" target="_blank">Coding projects</a>
        <a class="nav-item" href="http://fordham.academia.edu/JacobArchambault" target="_blank">Academic publications</a>
        <a class="nav-item" href="http://JacobArchambault.com/posts" target="_blank">Blog</a>
        <a class="nav-item" href="@Url.Content("~/Contact")">Contact</a>
    </nav>
</header>
