<header>
    <div class="pics">
        <img src="~/images/background/castle.jpg" alt="Urquhart Castle, Loch Ness, Scotland" class="img-fluid" />
        <img src="~/images/background/chartres-cathedral.jpg" alt="Chartres Cathedral, Chartres, France" class="img-fluid"/> 
        <img src="~/images/background/monets-garden.jpg" alt="Claude Monet's Garden, Giverny, France" class="img-fluid"/>
    </div>
    <nav>
        <a href="@Url.Content("~/Index")">About</a>
        <a href="http://github.com/JacobArchambault" target="_blank">Coding</a>
        <a href="http://fordham.academia.edu/JacobArchambault" target="_blank">Publications</a>
        <a href="http://JacobArchambault.com/posts" target="_blank">Blog</a>
        <a href="@Url.Content("~/docs/resume-tech.pdf")" target="_blank">Resume</a>
        <a href="@Url.Content("~/Contact")">Contact</a>
    </nav>
</header>