<header>
    <div class="pics">
        <picture>
        <source type="image/avif" srcset="~/images/background/castle.avif" />
        <img class="img-fluid" src="~/images/background/castle.jpg"
            alt="Urquhart Castle, Loch Ness, Scotland" />
        </picture>
    </div>
    <nav>
        <a href="@Url.Content("~/Index")">About</a>
        <a target="_blank" href="http://JacobArchambault.com/posts">Blog</a>
        <a target="_blank" href="@Url.Content("~/docs/resume-tech.pdf")">Resume</a>
        <a target="_blank" href="@Url.Content("~/docs/curriculum-vitae.pdf")">CV</a>
        <a href="@Url.Content("~/Contact")">Contact</a>
    </nav>
</header>
