<header>
    <img src="@Url.Content("~/images/background/urquhart-castle.jpg")" alt="Urquhart Castle, Loch Ness, Scotland" class="img-fluid" />
    <nav>
        <a href="@Url.Content("~/Index")">About</a>
        <a href="@Url.Content("~/docs/resume-tech.pdf")" target="_blank">Resume</a>
        <a href="http://github.com/JacobArchambault" target="_blank">Coding</a>
        <a href="http://fordham.academia.edu/JacobArchambault" target="_blank">Publications</a>
        <a href="http://JacobArchambault.com/posts" target="_blank">Blog</a>
        <a href="@Url.Content("~/Contact")">Contact</a>
    </nav>
</header>