<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <img src="@Url.Content("~/Content/Images/urquhart-castle.jpg")" alt="Urquhart Castle, Loch Ness, Scotland" />
        <nav>
            <a>Home</a>
            <a>About</a>
            <a>Blog</a>
            <a>Contact</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Here is some footer text</footer>
</body>
</html>
