<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>Here is some header text</header>
    <main>
        @RenderBody()
    </main>
    <footer>Here is some footer text</footer>
</body>
</html>
