
@{
    ViewData["Title"] = "Index";
}

<h2>About</h2>
<p>
    Jacob W. Archambault is a philosopher, programmer, and logician residing in Louisville, KY. He currently codes as a full stack C# .NET developer for Waystar Health.
</p>
<p>
    Jacob holds a PhD in philosophy and Doctoral Certificate in Medieval Studies from Fordham University. His main academic research is in the history philosophy of logic, focusing on the notion of formal consequence and its development in the medieval period. Besides this, Jacob has published across a wide variety of areas - including religion, metaphysics, the history of physics,  and the philosophy of computing - for both specialized and non-specialized audiences. He has taught courses on ethics, human nature, Latin and classics across secondary and post-secondary levels of education, and has presented his work to professional audiences across three continents.
</p>
<p>
    Outside the .NET stack, Jacob's coding competencies include OWL, Python, SQL, and Java. When not communicating with computers, he reads Latin (including manuscripts), French, and German.
</p>
<p>
    You can find Jacob's academic papers at his Academia.edu page, his coding projects at GitHub, and his popular writing at Medium.com.
</p>    