
@{
ViewData["Title"] = "Index";
}

<text>
    <h2>About</h2>
    <p>
        Jacob W. Archambault is a philosopher, programmer, and logician residing in Louisville, KY. He currently codes as a full stack C# .NET developer for Waystar Health.
    </p>
    <p>
        Jacob holds a PhD in philosophy and Doctoral Certificate in Medieval Studies from Fordham University. His main academic research is in the history philosophy of logic, focusing on the notion of formal consequence and its development in the medieval period. Besides this, Jacob has published across a wide variety of areas - including the philosophy of computing, the history of physics, medieval theology, and metaphysics - for both specialized and non-specialized audiences. He has taught courses in ethics, human nature, classics, and Latin across secondary and post-secondary levels of education, and has presented his work to professional audiences across three continents.
    </p>
    <p>
        Outside the .NET stack, Jacob's coding competencies include OWL, Python, SQL, and Java. When not communicating with computers, he reads Latin (including manuscripts), French, and German.
    </p>
    <p>
        You can find Jacob's coding projects at <a href="http://github.com/JacobArchambault">Github</a>, his academic papers at his <a href="http://fordham.academia.edu/JacobArchambault" target="_blank">Academia.edu</a> page, and his popular writing at <a href="http://medium.com/@@jacobarchambault" target="_blank">Medium.com</a>.
    </p>
</text>
<img src="~/images/profile/elizs-wedding2.jpg" />