/* 1 Element selectors */
/* 1.1. Main divider elements*/
html, body {
    height: 100%;
}

body {
    align-items: stretch;
    background-color: whitesmoke;
    color: rgb(10, 10, 10);
    display: flex;
    font-family: 'Cormorant', serif;
    flex-direction: column;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 0 auto;
}
p {
    max-width: 375px;
}

footer{
    margin-top: auto;
}

/* 1.2 Elements within main divider elements*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

nav a {
    border: 1px solid;
    border-image: radial-gradient(#bdc5cd, whitesmoke) 1;
    text-align: center;
    flex: 1 1 auto;
    padding: 0 .5rem;
}

form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}


i {
    font-size: 2rem;
    color: black;
    margin-left: .2rem;
    margin-right: .2rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

p {
    text-align: justify;
    text-indent: 1rem;
}

/* 2 Class selectors */
.btn {
    align-self: flex-end;
    background-color: rgb(191, 191, 191);
    margin-top: 1rem;
}

.profile {
    height: auto;
    display: inline;
    float: right;
    max-width: 320px;
}

/* 3 Pseudo-selectors */
.btn:hover{
    background-color: rgb(127, 127, 127);
}

/* 4 ID Selectors */
#github-icon {
    color: #24292e;
}

#linkedin-icon {
    color: #0073b1;
}

#medium-icon{
    color: rgba(0, 0, 0, .84);
}

/* 5 Media Queries */
@media (max-width: 425px) {
    nav a {
        flex: 1 1 33%;
    }
}
@media (max-width: 767px)
{
    .profile {
        display:none;
    }
}