/* 1 Element selectors */
/* 1.1. Main page elements*/
html, body {
    height: 100%;
}

body {
    align-items: stretch;
    background-color: whitesmoke;
    color: rgb(10, 10, 10);
    display: flex;
    font-family: 'Cormorant', serif;
    flex-direction: column;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 0 auto;
}


footer{
    margin-top: auto;
}

/* 2 Main body elements*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

nav a {
    text-align: center;
    flex: 1 1 auto;
    border: 1px solid #dee2e6;
    padding: 0 .5rem;
}

form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}


i {
    font-size: 2rem;
    color: black;
    margin-left: .2rem;
    margin-right: .2rem;
}

label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

p {
    text-align: justify;
    text-indent: 1rem;
}

/* 2 Class selectors */
.btn {
    align-self: flex-end;
    background-color: rgb(191, 191, 191);
    margin-top: 1rem;
}

/* 3 Pseudo-selectors */
.btn:hover{
    background-color: rgb(127, 127, 127);
}

/* 4 ID Selectors */
#github-icon {
    color: #24292e;
}

#linkedin-icon {
    color: #0073b1;
}

#medium-icon{
    color: rgba(0, 0, 0, .84);
}
