/* #region 1 Element selectors */
    /* #region 1.1 Main divider elements*/
    html, body {
        height: 100%;
    }

    body {
        align-items: stretch;
        background-color: whitesmoke;
        color: rgb(10, 10, 10);
        display: flex;
        font-family: 'Cormorant', serif;
        flex-direction: column;
    }

    main {
        margin-left: 1rem;
        margin-right: 1rem;
        /*flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-content: center;*/
    }

    footer {
        margin-top: auto;
    }

    /* #endregion */

    /* #region 1.2 Header elements */
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    nav a {
        border: 1px solid;
        border-image: radial-gradient(#bdc5cd, whitesmoke) 1;
        text-align: center;
        flex: 1 1 auto;
        padding: 0 .5rem;
    }

    /*#endregion */

    /* #region 1.3 Body elements */

        /* #region 1.3.1 Shared */

        h2 {
            text-align: center;
        }

        p, form {
            max-width: 375px;
        }
        
        /* #endregion */

        /* #region 1.3.2 About */

        i {
            font-size: 2rem;
            color: black;
            margin-left: .2rem;
            margin-right: .2rem;
        }

        label {
            margin-bottom: 0;
            margin-top: 0.5rem;
        }

        p {
            text-align: justify;
            text-indent: 1rem;
        }

        /* #endregion */

        /* #region 1.3.3 Contact */

        form {
            align-items: stretch;
            display: flex;
            flex-direction: column;
        }

        /* #endregion */
/* #endregion */

    /* #region 1.4 Footer elements */
    /* #endregion */

    /* #region 1.5 Pseudo-elements */

    nav a:hover {
        background: #a89898;
        transition: background 1s ease-in;
    }

    /* #endregion */

/* #endregion */

/* #region 2 Class selectors */

    /* #region 2.1 Classes */
    .btn {
        align-self: flex-end;
        background-color: rgb(191, 191, 191);
        margin-top: 1rem;
    }

    .profile {
        height: auto;
        display: inline;
        float: right;
        max-width: 320px;
    }


    /* #endregion */

    /* #region 2.2 Pseudo-classes */
    .btn:hover {
        background-color: #a89898;
        transition: background-color 1s ease-in;
    }

    /* #endregion */

/* #endregion */


/* #region 3 ID Selectors */
#github-icon {
    color: #24292e;
}

#linkedin-icon {
    color: #0073b1;
}

#medium-icon{
    color: rgba(0, 0, 0, .84);
}

/* #endregion */

/* #region 4 Media Queries */
@media (max-width: 425px) {
    nav a {
        flex: 1 1 33%;
    }
}

@media (max-width: 767px)
{
    .profile {
        display: none;
    }
}

/* #endregion */